// COLORS
$primary-color: #0077ff; // #ed473a
$background-color: #fafcff;
$background-dark-color: #f0f7ff;
$primary-text-color: #302e4d;
$primary-text-light-color: #504e70;
$border-light-color: #00000026;
$primary-box-shadow: rgba(48, 46, 77, 0.18);

$dark-color: #222222;
$dark-secondary-color: #151515;
$dark-primary-text: #fff;
$dark-text-color: #e9e9e9;
$dark-border-color: #393939;
$dark-border-light-color: #646464;

// FONTS
$default-font-size: 1.6rem;
