body {
  line-height: 1.5;
  font-family: 'Montserrat', sans-serif;
  font-weight: 400;
}

input,
textarea,
select {
  font-family: 'Montserrat', sans-serif;
}

.row {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  margin-right: -1.5rem;
  margin-left: -1.5rem;
  position: relative;
}

.container {
  max-width: 120rem;
  margin: auto;
  width: 100%;
}

blockquote {
  background-color: rgba(0, 0, 0, 0.1);
  margin: 0.5rem 0 1rem 0;
  font-size: 1.4rem;
  padding: 0.3rem;
}
