.padd-15 {
  padding: 0 1.5rem !important;
}

.shadow-dark {
  -webkit-box-shadow: 0 0 2rem rgba(48, 46, 77, 0.15) !important;
  box-shadow: 0 0 2rem rgba(48, 46, 77, 0.15) !important;
}

.hidden {
  display: none !important;
}
